page-cart {
  
    div.header{
        text-align: center;
      //  background-image: linear-gradient(top, rgba(221,241,249,1) 6%,rgba(160,216,239,1) 69%);
    } 

    .text{
        text-align: center;
    }

    .nolinebreak {
        float: left;
        padding-right: 10px;
    }

    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }

}