<!--
  Pagina de carrinho
-->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <div class="header">
      <ion-title> <img class="middle" src="assets/icon/addCart.png"> Carrinho</ion-title>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item *ngIf="total() > 0" class="text">
         <ion-badge color="danger">Total R{{total() | currency}}</ion-badge> - <ion-badge slot="end"> {{quatidadeItem()}} itens na lista</ion-badge>
    </ion-item>
    <ion-item class="text" *ngIf="total() <= 0">
          <div><b> Seu carrinho está vazio! </b></div>
      
     </ion-item>
    <ion-list>
      <!-- *ngFor lê uma coleção do controlador e repete a quantidade de elementos 
      "let x of y" Ele percorre a lista de y -->
      <ion-item *ngFor="let item of items">
        <ion-thumbnail item-start>
          <img [src]="item.produto.imageUrl || 'assets/imgs/prod.png'">
        </ion-thumbnail>
        <!-- {{}} interpolação -->
        <h2>{{ item.produto.nome }}</h2>
        <p>R{{ item.produto.preco | currency }}</p>
        <ion-icon class="nolinebreak" name="remove-circle" color="primary" (click)="decreaseQuantity(item.produto)"></ion-icon>
        <p class="nolinebreak">{{ item.quantidade}}</p>
        <ion-icon name="add-circle" color="primary" (click)="increaseQuantity(item.produto)"></ion-icon>
        <ion-icon name="trash" item-end color="danger" (click)="removeItem(item.produto)"></ion-icon>
        </ion-item>
      </ion-list>

      <button ion-button block (click)="goOn()">Continuar comprando</button>
      <!-- Criando botão de finalizar compra -->
      <button ion-button block outline (click)="checkout()">Finalizar pedido</button>
      
  </ion-content>