page-categorias {
    
    div.header{
        text-align: center;
      //  background-image: linear-gradient(to right, #32BFE5 , #50C6CE, #32BFE5);
    } 

    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }
      

}
