<!--
  Pagina de categorias
-->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/icons8-bill-64.png"> Categorias</ion-title>
  </div>
</ion-navbar>
</ion-header>

<ion-content padding>
    <!-- Botão futuante para ir para carrinho -->
    <ion-fab right edge>
        <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
      </ion-fab>
     
      <ion-list>
  <!-- Listando categorias -->
    <!-- *ngFor lê uma coleção do controlador e repete a quantidade de elementos 
    "let x of y" Ele percorre a lista de y -->
    <button ion-item *ngFor="let item of itens" (click)="showProdutos(item.id)">
      <ion-thumbnail item-start>
        <img src="{{bucketUrl}}/cat{{item.id}}.jpg">
      </ion-thumbnail>
      <!-- {{}} interpolação -->
      <h2>{{ item.nome }}</h2>

    </button>
  </ion-list>

</ion-content>
