page-profile {

    ion-icon{
        text-align: center;
    }
    
    div.header{
        text-align: center;
      //  background-image: linear-gradient(to right, #32BFE5 , #50C6CE, #32BFE5);
    } 

    .circle {
        width: 60%;
        border-radius: 100%;
        margin: 25px auto 0 auto;
    }

    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }
}
