<!--
  Pagina de perfil
-->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <div class="header">
      <ion-title> <img class="middle" src="assets/icon/icons8-name-64.png"> Dados do Perfil</ion-title>
    </div>
  
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-avatar>
    <img class="circle" [src]="cliente?.imageUrl || 'assets/imgs/avatar.png'">
  </ion-avatar>  

    
    <h2 text-center>{{cliente?.nome}}</h2>
   
    <p text-center><ion-icon name="ios-mail-outline"> </ion-icon> {{cliente?.email}}</p>
   
    <p text-center><ion-icon name="ios-call-outline"> </ion-icon> {{formatTel(cliente?.telefones)}}</p>

    <p text-center><ion-icon name="ios-swap-outline"> </ion-icon> {{format(cliente?.cpfOuCnpj)}}</p>
  

    <ion-card>
      <ion-card-header>
        Enviar imagem do perfil
      </ion-card-header>
      <ion-item *ngIf="picture">
        <img [src]="picture">
      </ion-item>
      <ion-item>
        <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      </ion-item>
    </ion-card>

</ion-content>
