<!-- Criando pagina de produtos 
Data: 20/01/2019 
@autor Starley Cazorla -->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/buy.png"> Produtos</ion-title>
  </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Função para recarregar a pagina -->
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <!-- Botão futuante para ir para carrinho -->
    <ion-fab right edge>
        <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
      </ion-fab>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="showDetail(item.id)">
      <ion-thumbnail item-start>
        <img [src]="item.imageUrl || 'assets/imgs/prod.png'">
      </ion-thumbnail>
      <h2>{{item.nome}}</h2>
      <ion-badge color="success">R{{item.preco | currency}}</ion-badge>
      
    </button>
  </ion-list>

  <!-- Infinity Scroll -->
  <ion-infinite-scroll (ionInfinite)="doInfinity($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

