<!-- Criando pagina de confirmação de pedido 
Data: 09/02/2019 
@autor Starley Cazorla -->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="header">
    <ion-title *ngIf="!codePedido"> <img class="middle" src="assets/icon/list.png"> Confirmação de pedido</ion-title>
    <ion-title *ngIf="codePedido"> <img class="middle" src="assets/icon/list.png"> Pedido confirmado</ion-title>
  </div>
</ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf="!codePedido">
    <ion-card-header>
      <ion-badge color="dark">Itens do pedido</ion-badge>
    </ion-card-header>

    <ion-list>
      <!-- Carregando os itens do carrinho -->
      <ion-item *ngFor="let item of cartItem">
        <ion-thumbnail item-start>
          <!-- Carregando as imagens do produto -->
          <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
        </ion-thumbnail>
        <p>{{item.produto.nome}}</p>
        <p>R{{item.produto.preco | currency}}</p>
        <p>Quant.: {{item.quantidade}}x</p>
        <p item-end>R{{item.produto.preco * item.quantidade | currency}}</p>
      </ion-item>

      <ion-item>
        <ion-badge item-end color="danger">Total carrinho: R{{total() | currency}}</ion-badge>
      </ion-item>
    </ion-list>

    <!-- Carregando dados do cliente -->
    <ion-card>
      <ion-card-header>
        <ion-badge color="dark">Cliente</ion-badge>
      </ion-card-header>
        <h2><b>Nome:</b> {{cliente?.nome}}</h2>
        <p><b>Email:</b> {{cliente?.email}}</p>
        <p><b>Telefones:</b> {{cliente?.telefones}}</p>
    </ion-card>

    <!-- Carregando dados do endereco -->
    <ion-card>
      <ion-card-header>
        <ion-badge color="dark">Endereço</ion-badge>
      </ion-card-header>
      <h2>{{endereco?.logradouro}}, Nº: {{endereco?.numero}}</h2>
      <p><b>Complemento:</b> {{endereco?.complemento}}</p>
      <p><b>Bairro:</b> {{endereco?.bairro}}, <b>CEP:</b> {{endereco?.cep}}</p>
      <p><b>Cidade:</b> {{endereco?.cidade.nome}}, <b>Estado:</b> {{endereco?.cidade.estado.nome}}</p>
    </ion-card>

    <!-- Carregando dados do pagamento -->
    <ion-card>
      <ion-card-header>
        <ion-badge color="dark">Pagamento</ion-badge>
      </ion-card-header>
      <ion-item *ngIf="pedido.pagamento['@type'] == 'pagamentoComCartao'">
        <ion-label>Pagamento com cartão</ion-label>
        <p><b>Parcelas:</b> {{pedido.pagamento.numeroDeParcelas}}</p>
        <p>Numero do Cartão: "A implementar"</p>
        <p>CVV: "A implementar"</p>
        <p>Data Validade: "A implementar"</p>
    </ion-item>

      <ion-item *ngIf="pedido.pagamento['@type'] == 'pagamentoComBoleto'">
        <h3>Pagamento com boleto</h3>
        <p>O boleto será enviado para o e-mail acima!</p>
        </ion-item>
    </ion-card>

    <button ion-button block (click)="checkout()">Confirmar pedido</button>
    <button ion-button block outline (click)="back()">Voltar ao carrinho</button>
  </div>

  <div *ngIf="codePedido">
    <ion-card>
      <ion-card-header>
      Seu pedido foi registrado!
      </ion-card-header>
      <ion-item>
        <h2>Código do pedido: {{codePedido}}</h2>
        <p>Verifique seu e-mail!</p>
      </ion-item>
      <button ion-button block outline (click)="home()">Voltar ao carrinho</button>
    </ion-card>
  </div>


</ion-content>
