<ion-content padding>  
    <div class="wrapper">
      <div class="container">
        <h3>Sistema de Pedidos</h3>
        <img src="assets/imgs/pedidos.png" alt="logo">
        <form name="customerForm">
          <!-- Formulário -->
          <input type="text" [(ngModel)]="creds.email" required name="email" minlength="4" placeholder="E-mail">
          <input type="password" [(ngModel)]="creds.senha" name="senha" minlength="3" required placeholder="Senha">
          <button type="submit" id="login-button" (click)="fazendoLogin()"><ion-icon name="ios-finger-print-outline"></ion-icon> Login</button> <br><br>
          
          <!-- Botoes de forgot e signup -->
          <button id="forgot-button" (click)="forgotPage()">
            <ion-icon name="sync"></ion-icon>
             Esqueceu a senha?</button><br><br>
          <button id="signup-button" (click)="fazendoCadastro()">
            <ion-icon name="ios-person-add-outline"></ion-icon> 
            Cadastro</button>
        </form>
      </div>
      <!-- Animação de quadrados -->
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

</ion-content>
