<!--
  Pagina de pagamento
-->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/cash.png"> Forma de Pagamento</ion-title>
  </div>
</ion-navbar>
</ion-header>

<ion-content padding>
  <!-- Criando formulario para escolha de pagamento -->
  <form [formGroup]="formGroup" (ngSubmit)="nextPage(); $event.preventDefault()">
    <ion-list radio-group formControlName="@type">
        <ion-label>Tipo de pagamento</ion-label>
        
    <ion-item>
        <ion-label><img class="middle" src="assets/icon/paycheque.png"> Pagamento com boleto</ion-label>
        <ion-radio checked="true" value="pagamentoComBoleto"></ion-radio>
        </ion-item>
    

    <ion-item>
      <ion-label><img class="middle" src="assets/icon/card.png"> Pagamento com cartão</ion-label>
      <ion-radio  value="pagamentoComCartao"></ion-radio>
    </ion-item>
  </ion-list>

     <!-- Valor recebido pelo carrinho -->
  <ion-item class="centro">
    <ion-label >Valor total: <ion-badge color="danger">R{{total() | currency}} </ion-badge></ion-label>
  </ion-item>

  <ion-item class="centro">
    <ion-label>Valor parcela: <ion-badge color="warning">{{numero}}</ion-badge>  de  <ion-badge color="danger">R{{totalParcela(numero) | currency}}</ion-badge></ion-label>
  </ion-item>
    <br>

  <!-- Adendo para preencher os dados do cartão de credito -->
  <ion-list *ngIf="formGroup.value['@type'] == 'pagamentoComCartao'">
  <ion-label>Dados do cartão </ion-label>

  <!-- Valor recebido pelo carrinho  -->
  <ion-item>
    <ion-label>N° cartão:</ion-label>
    <ion-input formControlName="cardNumber" [(ngModel)]="cardNumber" type="numero" placeholder="1111 2222 3333 4444" (blur)="cardNumber = formatCard(cardNumber)" maxlength="19" minlength="16"></ion-input> 
  </ion-item>

  <!-- Data de validade do cartão -->
  <ion-item>
    <ion-label>Data validade:</ion-label>
    <ion-datetime formControlName="dataValidade" [(ngModel)]="dataValidade" displayFormat="MM / YYYY" min="2015-12" max="2028-12" placeholder="Clique aqui"></ion-datetime>
  </ion-item>
 
  <!-- Codigo do cartão -->
  <ion-item>
    <ion-label>Codigo CVC:</ion-label>
    <ion-input formControlName="cvcCard" [(ngModel)]="cvcCard" type="numero" placeholder="123" minlength="3" maxlength="3"></ion-input> 
  </ion-item>

  <!-- Parcelas -->
  <ion-item>
    <ion-label>Parcelas: </ion-label>
    <ion-select formControlName="numeroDeParcelas" [(ngModel)]="numero">
      <ion-option *ngFor="let n of parcelas; first as f" [value]="n" [selected]="f">{{n}}</ion-option>
    </ion-select> 
  </ion-item>

    <!-- Acrecimo de juros -->
  <ion-item>
    <ion-list *ngIf="[numero] >= 3" class="centro">           
      <ion-label >Juros: <ion-badge color="warning">R{{juros(numero) | currency}}</ion-badge> </ion-label>
      <ion-label >Valor total c/ juros: <ion-badge color="danger">R{{jurosTotal(numero) | currency}}</ion-badge> </ion-label>
      <p>O valor dos juros e fixo de arcodo com a <br> quantidade de parcelas escolhidas.</p>
    </ion-list>
  </ion-item>
  </ion-list>

    <button ion-button block type="submit" [disabled]="formGroup.invalid">Próximo</button>
  </form>

</ion-content>
