<!-- Criando pagina de produtosDetail 
Data: 26/01/2019 
@autor Starley Cazorla -->
<ion-header>
    <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  
    <div class="header">
      <ion-title> <img class="middle" src="assets/icon/trackDelivery.png"> Dados da Entrega</ion-title>
    </div>
  </ion-navbar>
  </ion-header>


<ion-content padding>

<ion-list>
  
  <p align="center">Selecione um endereço com cuidado, após estar em trânsito não poderá ser feito qualquer alteração.
  </p>

  
  <button ion-item *ngFor="let item of items" (click)="nextPage(item)">
    <h2>{{item.logradouro}}, N°: {{item.numero}}</h2>
    <p><b>Complemento:</b> {{item.complemento}}</p> 
    <p><b>Bairro:</b> {{item.bairro}},<b>CEP:</b> {{item.cep}}</p>
    <p><b>Cidade:</b> {{item.cidade.nome}}, <b>Estado:</b> {{item.cidade.estado.nome}}</p>
  </button>
</ion-list>

</ion-content>
