<!-- Formulario de reset -->
<ion-content padding>

  <div class="wrapper">
    <div class="container">
      <h3>Resetar Senha</h3>
      <img src="assets/imgs/forgot.png" alt="logo">
      <p>Para sua segurança solicitamos os seguintes dados!</p>
  
      <!-- Formulário -->
      <form [formGroup]="formGroup" (ngSubmit)="forgotPass(); $event.preventDefault()" #forgotForm="ngForm">
        
        <input formControlName="email" type="text" [(ngModel)]="creds.email" required name="email" minlength="4" placeholder="E-mail">
        <p *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors">E-mail invalido</p>
  
        <input formControlName="cpfOuCnpj" type="text" [(ngModel)]="creds.cpfOuCnpj" name="cpfOuCnpj" minlength="3" required placeholder="Cpf ou Cnpj">
        <p *ngIf="formGroup.controls['cpfOuCnpj'].dirty && formGroup.controls['cpfOuCnpj'].errors">Digite sem pontuação!</p>
        
        <button type="submit" id="login-button" [disabled]="formGroup.invalid">Resetar Senha</button><br><br>
        
        <button type="button" (click)="voltarInicio()" class="button">Voltar</button>
   
      </form>
       
      </div>
      <!-- Animação de quadrados -->
      <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  
  
  </ion-content>
  