  <ion-header>
  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/addUser.png"> Cadastro</ion-title>
  </div>
</ion-header>

<!-- Formulario de cadastro -->
<ion-content padding>
  <form [formGroup]="formGroup" (ngSubmit)="signupUser(); $event.preventDefault()" #signupForm="ngForm" class="teste">
    
    <ion-item ion-icon name="heart">
      
      <ion-label ion-icon name="heart" stacked>CPF ou CNPJ*</ion-label>
      <ion-input formControlName="cpfOuCnpj" [(ngModel)]="cpfOuCnpj" type="text" (blur)="cpfOuCnpj = format(cpfOuCnpj)" minlength="11" maxlength="18" ></ion-input>
    </ion-item>

    <p *ngIf="formGroup.controls['cpfOuCnpj'].errors">Digite sem pontuação!</p>

    <ion-item>
      <ion-label stacked>Tipo Cliente</ion-label>
      <ion-input formControlName="tipo" [(ngModel)]="tipo" type="text" (blur)="tipo" disabled></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Nome*</ion-label>
      <ion-input formControlName="nome"  type="text"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label stacked>Email*</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <p *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors">E-mail invalido</p>
   
    <ion-item>
      <ion-label stacked>Senha para o aplicativo*</ion-label>
      <ion-input formControlName="senha" type="password"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label stacked>CEP*</ion-label>
      <ion-input formControlName="cep" [(ngModel)]="cep" type="text" (blur)="cep = formatCep(cep)" maxlength="9"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Logradouro*</ion-label>
      <ion-input formControlName="logradouro" type="text" [(ngModel)]="logradouro" type="text" (blur)="logradouro"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Número*</ion-label>
      <ion-input formControlName="numero" type="text"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label stacked>Complemento</ion-label>
      <ion-input formControlName="complemento" type="text" [(ngModel)]="complemento" type="text" (blur)="complemento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Bairro</ion-label>
      <ion-input formControlName="bairro" type="text" [(ngModel)]="bairro" type="text" (blur)="bairro"></ion-input>
    </ion-item>
    
  
    <ion-item>
      <ion-label stacked>Telefone 1*</ion-label>
      <ion-input formControlName="telefone1" [(ngModel)]="telefone1" type="text" (blur)="telefone1 = formatTel(telefone1)" minlength="11" maxlength="13"></ion-input>
    </ion-item>
   
    <ion-item>
      <ion-label stacked>Telefone 2</ion-label>
      <ion-input formControlName="telefone2" [(ngModel)]="telefone2" type="text" (blur)="telefone2 = formatTel(telefone2)" maxlength="13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Telefone 3</ion-label>
      <ion-input formControlName="telefone3" [(ngModel)]="telefone3" type="text" (blur)="telefone3 = formatTel(telefone3)" maxlength="13"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Estado*</ion-label>
      <ion-select formControlName="estadoId" (ionChange)="updateCidades()">
        <ion-option *ngFor="let estado of estados; first as f" [value]="estado.id" [selected]="f">{{estado.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Cidade*</ion-label>
      <ion-select formControlName="cidadeId">
        <ion-option *ngFor="let cidade of cidades" [value]="cidade.id">{{cidade.nome}}</ion-option>
      </ion-select>
    </ion-item>
    <br>
    <br>
    <button ion-button block type="submit" [disabled]="formGroup.invalid">Criar conta</button>
  </form>

  <button ion-button block (click)="voltarInicio()">Voltar</button>

</ion-content>
