page-signup {

    height:auto;
    padding: auto;
    text-align:center;
    margin: auto;
    
    div.header{
        text-align: center;
      //  background-image: linear-gradient(to right, #32BFE5 , #50C6CE, #32BFE5);
        color: #ffffff;
        
    } 

    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }


}
