page-produto-detail {

    div.header{
        text-align: center;
      //  background-image: linear-gradient(top, rgba(221,241,249,1) 6%,rgba(160,216,239,1) 69%);
    } 
    
    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }
}
