<!-- Criando pagina de produtosDetail 
Data: 26/01/2019 
@autor Starley Cazorla -->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/buy.png"> Detalhe do Produto</ion-title>
  </div>
</ion-navbar>
</ion-header>


<ion-content padding>
    <!-- Botão futuante para ir para carrinho -->
    <ion-fab right edge>
        <button navPush="CartPage" ion-fab mini><ion-icon name="cart"></ion-icon></button>
      </ion-fab>
  <ion-card>
    <img [src]="item?.imageUrl || 'assets/imgs/prod.png'">
    <ion-card-content>  

    <ion-card-title>
      {{item?.nome}}
    </ion-card-title>
    <ion-badge color="success">R{{item?.preco | currency }}</ion-badge>
    </ion-card-content>
  </ion-card>

  <button ion-button block outline (click)="addToCart(item)"><img src="assets/icon/addCart.png">Adicionar ao carrinho</button>

</ion-content>