<!-- Criando pagina de enderecos
Data: 30/01/2019 
@autor Starley Cazorla -->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <div class="header">
    <ion-title> <img class="middle" src="assets/icon/delivery.png"> Receber</ion-title>
  </div>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <p>Selecione a opção para receber sua compra! </p>
  <ion-list>
      <button ion-item (click)="handDelivery()">
        <ion-thumbnail item-start>
          <img src='assets/icon/handDelivery.png'>
        </ion-thumbnail>
        <h2>Retirada em mãos</h2>
      </button>
      <button ion-item (click)="delivery()">
          <ion-thumbnail item-start>
              <img src='assets/icon/trackDelivery.png'>
          </ion-thumbnail>
          <h2>Correio/Transportadora</h2>
        </button>

    </ion-list>

</ion-content>
