page-endereco {
    
    div.header{
        text-align: center;
        //background-image: linear-gradient(to right, #32BFE5 , #50C6CE, #32BFE5);
        color: #ffffff;
        
    } 

    p {
        text-align: center;
    }

    // Alinhamento centralizado //
    .middle {
        vertical-align: middle;
      }

}
